@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
	.perspective{
		perspective: 6.25rem;
	}

	.preserve-3d{
		transform-style: preserve-3d;
	}

	.distance-1{
		transform: translateZ(-6.25rem) scale(2);
	}

	.distance-2{
		transform: translateZ(-3.125rem) scale(1.5);
	}
}